.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;
}

.title-cards .card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.title-cards .card-list::-webkit-scrollbar {
  display: none;
}

.title-cards img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}

.card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  .title-cards {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .title-cards h2 {
    font-size: 20px;
  }
  .card-list img {
    width: 200px;
  }
  .card-list p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .title-cards h2 {
    font-size: 15px;
  }
  .card-list img {
    width: 165px;
  }
  .card-list p {
    font-size: 10px;
  }
}