.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;
}

.title-cards .card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.title-cards .card-list::-webkit-scrollbar {
  display: none;
}

.title-cards img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}

.card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}